*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Общий настройки */

body{
    padding: 0 15px;
}

a{
    text-decoration: none;
}

ul {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

/* Меню навигации */
li {
    list-style-type: none;
}

.nav_a {
    color: #828282;
    transition: .5s;
}

.nav_a:hover {
    color: #070707;
}

.menu {
    max-width: 100%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
}

.line{
    max-width: 100%;
    margin: auto;
    border-bottom: 1px solid #000;
}

/* Контент */
.content {
    max-width: 1000px;
    margin: auto;
}

@media (max-width: 1000px) {
    .content {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .content {
        max-width: none;
    }
}

.zag {
    padding-top: 110px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 34px;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
}

/* Начальная */
.name_creater {
    display: inline-block;
    padding-top: 40px;
    padding-right: 200px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 47px;
}

.home_page {
    max-width: 100%;
}

.home_text {
    display: inline-block;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
}

.home_img {
    max-width: 100%;
    height: 350px;
    margin: 50px 0;
    background-image: url(/img/home.png);
    background-size: cover;
}

/* Информация */
.about {
    width: 100%;
    height: 505px;
    background-color: #F6F6F6;
}

/* Скилл */
.skill {
    max-width: 100%;
    display: block;
}

.skill_cards{
    display: flex;
    justify-content: center;
}

.skill_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 70px;
}


.skill_image {
    width: 90px;
    height: 90px;
}

.skill_text {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
}


/* */
.portfolio {
    background-color: #F6F6F6;
}

.portfolio_box {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}

.portfolio_text {
    color: #000;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

/*  Подвал */
.footer {
    display: block;
}


/* Блок отправки сообщения */
.footer_message_box {
    display: flex;
    justify-content: center;
}

/* кнопка отправки сообщения */
.footer_message_button {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: #000;
    padding: 15px 40px;
    border-radius: 50px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    transition: .3s;
}
.footer_message_button:hover {
    background-color: #828282;
  }


/* Блок иконки */
.footer_icons_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px 40px;
}

/* Блок иконки */
.footer_icons_cards {
    flex: 0 1 70px;
    padding: 10px;
}

/* Иконка */
.footer_icons_image {
    object-fit: cover;
}
.footer_icons_image:hover {
    color: #828282;
}


#footer_text{
    padding-bottom: 30px;
}

#footer_like {
    padding-bottom: 50px;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
}
